body{
  background-color: #306998;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  border: 6px solid #FFD43B;
  border-radius: 30px;
  color: #FFD43B;
  font-size: 50px;
  padding: 20px;
  margin-right: 20px;
}
a:hover{
  font-weight: bold;
}
